.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.left{
    width: 40%;
    min-height: 80vh;
    display: flex;              
    align-items: center; 
    justify-content: center;
    flex-direction: column;    
    
}
.cta{
    color: #f56048 !important;
    font-weight: 650;
    border-color: #f56048 !important;
}
.cta:hover{
    background-color: #f56048 !important;
    color: white !important;
}
.right{
    width: 60%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img { 
    height: auto;  
    width: 70%;
  }
  @media screen and (max-width:1024px){
    .main{
        flex-direction: column-reverse;
    }
    .left{
        width: 90%;
        min-height: auto;
        margin: auto;
    }
    .left h3{
        font-size: 2.3rem;
    }
    .right{
        width: 100%;
        min-height: 45vh;
    }
}